{% extends "base.html" %}
{% load static %}

{% block content %}
    <div>
        <div>
            <h2><b>WELCOME</b></h2>
            <p>Welcome to the Retro Exchange website where you can purchase and sell games and consoles. This site will be able to allow users to search the website easily using either a filter search system or the search bar. If you know what your looking for then feel free to search for it, else just press the button below or filter to try and have a quick shop around.</p>
        </div>
        <div>
            <a href="{% url 'products' %}"><button class="themed-button">Start Shopping</button></a>
        </div>
    </div>
{% endblock %}