{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <h2><b>MY PROFILE</b></h2>
    <p>Here you can check your favourites or just save some personal information for quicker checkout.</p>
{% endblock %}

{% block content%}
<div class="border m-10 p-10 m-b-10">
    <div class="center-text">
        <p>YOUR DETAILS</p>
        <p>Here you can save some default settings just to make checkout easier for you later.</p>
        <form action="{% url 'profile' %}" method="POST" id="profile-form">
            {% csrf_token %}
            <fieldset>
                <legend>Your Address</legend>
                Phone Number: <br>{{ form.default_phone_number }}<br>
                Country: <br>{{ form.default_country }}<br>
                County: <br>{{ form.default_county }}<br>
                Town or City: <br>{{ form.default_town_r_city }}<br>
                First Line of Your Address: <br>{{ form.default_street_add_line1 }}<br>
                Second Line of Your Address: <br>{{ form.default_street_add_line2 }}<br>
                Postal Code: <br>{{ form.default_postcode }}<br><br>
            </fieldset>
            <div class="center-text">
                <a href="{% url 'basket' %}">
                    <button type="none" class="black-white themed-button">Save Settings</button>
                </a>
            </div>
            <br>
        </form>
    </div>
</div>
<div class="border p-10 m-10 center-text">
    <p>ORDER HISTORY</p>
    {% if orders %}
        <p>Hover over an order to get more details</p>
        {% for order in orders %}
            <div class="dropdown border center-text">
                <span>{{ order.date }}</span>
                <span>{{ order.order_number }}</span>
                <div class="dropdown-container">
                    {% for item in order.indiv_items.all %}
                        <div class="border m-5 p-10 block w-250 h-600">
                            <img class="s-icon" src="/media/{{ item.product.image }}">
                            <p>{{ item.product.name }}</p>
                            <p>{{ item.quantity }} X £{{ item.product.price }}</p>
                        </div>
                    {% endfor %}
                    <p>Total: £{{ order.order_total }}</p>
                    <p>Shipping: £{{ order.delivery_cost }}</p>
                    <p>Grand Total: £{{ order.grand_total }}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
            <p>Oops, sorry you have no order history to be shown here.</p>
    {% endif %}
</div>
<br>
<hr>
<br>
{% endblock %}