{% extends "base.html" %}
{% load static %}

{% block content%}
    <div>
        <h2><b>THANK YOU</b></h2>
        <p>Thank you for shopping with Retro Exchange.</p>
        <p>Your order number is <b>{{ order.order_number }}.</b> This will be sent to the email that has been provided.</p>
        <div class="row justify-content-md-center">
            {% for item in order.indiv_items.all %}
                <div class="border col-lg-3 col-md-4 col-xl-3 d-inline p-1 m-1">
                    <div>
                        <a class="text-dark" href="/products/{{ item.pk }}">
                            <img class="m-2 w-75" src="{{ MEDIA_URL }}{{ item.product.image }}">
                            <p>{{ item.product.name }}</p>
                            <p>£ {{ item.product.price|floatformat:2}}</p>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a href="{% url 'home' %}">
            <button class="bg-dark text-white p-2 w-100 mt-5">Return to Homepage</button>
        </a>
    </div>
{% endblock %}