{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <h2 class="center-text logo"><b>CHECKOUT</b></h2>
    <p class="center-text">Finish of your delivery by completing the form below.</p>
{% endblock %}

{% block content%}
    <div>
        <p>Order Summary ({{ basket_contents|length }})</p>
        <div class="row justify-content-md-center">
            {% if basket_contents %}
                {% for item in basket_contents %}
                    <div class="border col-lg-3 col-md-4 col-xl-2 d-inline p-1 m-1">
                        <div>
                            <a class="text-dark text-decoration-none" href="/products/{{ item.pk }}">
                                <img class="m-2 w-75" src="{{ MEDIA_URL }}{{ item.product.image }}">
                                <p>{{ item.product.name }}</p>
                                <p>£ {{ item.product.price|floatformat:2}}</p>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Sorry you have no items within your basket, use the link below to look for an item on the site to buy.</p>
            {% endif %}
        </div>
        <hr>
        <p>Total: £{{ total | floatformat:2 }}</p>
        <p>Shipping: £{{ shipping_total | floatformat:2 }}</p>
        <p>Overal Total: £{{ grand_total | floatformat:2 }}</p>
        <hr>
    </div>
    <div>
        <h2><b>Personal Details</b></h2>
        <div>
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <fieldset>
                    <legend>Your Details</legend>
                    {{ order_form.full_name }}
                    {{ order_form.email }}
                    {{ order_form.phone_number }}
                </fieldset>
                <fieldset>
                    <legend>Your Address</legend>
                    {{ order_form.country }}
                    {{ order_form.county }}
                    {{ order_form.town_r_city }}
                    {{ order_form.street_add_line1 }}
                    {{ order_form.street_add_line2 }}
                    {{ order_form.postcode }}
                    <label for="save-order">Save Details:</label>
                    <input type="checkbox" id="save-order"></input>
                </fieldset>
                <fieldset>
                    <legend>Payments</legend>
                    <p>Please insert your card details for the transaction of £{{ grand_total|floatformat:2 }}</p>
                    <div class="row justify-content-md-center">
                        <div id="card-element" class="w-100">

                        </div>
                        <div id="card-errors" class="w-100" role="alert">
    
                        </div>
                    </div>
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                </fieldset>
                <div>
                    {% if basket_contents %}
                        <hr>
                        <button id="submit-button" type="submit" class="bg-dark text-white p-2 w-100">Finalise Payment of £{{ grand_total | floatformat:2 }}</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
    <hr>
    <br>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}
