{% extends "base.html" %}
{% load static %}

{% block content%}
    <div>
        <h2><b>THANK YOU</b></h2>
        <p>Thank you for shopping with Retro Exchange.</p>
        <p>Your order number is <b>{{ order.order_number }}</b></p>
        <div>
            {% for item in order.indiv_items.all %}
                <div class="border col-2 d-inline p-1 m-1">
                    <div>
                        <img class="m-2 w-75" src="{{ MEDIA_URL }}{{ item.product.image }}">
                        <p>{{ item.product.name }}</p>
                        <p>{{ item.quantity }} X £{{ item.product.price }} + 10% Shipping</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="center-text border p-10 m-10">
            <p>The order will be delivered to the address that has been given.</p>
            <p>{{ order.full_name }}</p>
            <p>{{ order.country }}</p>
            <p>{{ order.county }}</p>
            <p>{{ order.street_add_line1 }}</p>
            <p>{{ order.street_add_line2 }}</p>
            <p>{{ order.postcode }}</p>
        </div>
        <hr>
        <a href="{% url 'home' %}">
            <button class="bg-dark text-white">Return to Homepage</button>
        </a>
    </div>
{% endblock %}