{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <h2><b>BASKET</b></h2>
    <p>These are the items that you have added to your basket.</p>
{% endblock %}

{% block content %}
    <div class="center-text">
        {% if basket_contents %}
            {% for item in basket_contents %}
                <div class="border m-5 p-10 block w-250 h-600">
                    <a href="/products/{{ item.pk }}">
                        {% if item.product.image %}
                            <img class="icon" src="/media/{{ item.product.image }}">
                        {% endif %}
                        <p>{{ item.product.name }}</p>
                        <p>Price: £ {{ item.product.price|floatformat:2 }}</p>
                        <p>Quantity: {{ item.quantity }}</p>
                        <p>Shipping Fee: £{{ item.shipping|floatformat:2 }}</p>
                        <p>Total Cost: £{{ item.total_cost|floatformat:2 }}</p>
                    </a>
                    <form method="POST" action="">
                        {% csrf_token %}
                        <button name="add" value="{{ item.pk }}" type="submit" class="themed-button">Add</button>
                        <br>
                        <br>
                        <button name="remove" value="{{ item.pk }}" type="submit" class="themed-button">Remove</button>
                    </form>
                </div>
            {% endfor %}
        {% else %}
            <p>Sorry you have no items within your basket, use the link below to look for an item on the site to buy.</p>
        {% endif %}
    </div>
    <br>
    <hr>
    <br>
    <div class="center-text">
        <div class="inline">
            <a href="{% url 'products' %}">
                <button class="themed-button">Keep Shopping</button>
            </a>
        </div>
        <div class="inline">
            {% if basket_contents %}
                <a href="{% url 'checkout' %}">
                    <button class="themed-button">Checkout</button>
                </a>
            {% endif %}
        </div>
    </div>
    <br>
    <hr>
    <br>
{% endblock %}