{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <h2><b>BASKET</b></h2>
    <p>These are the items that you have added to your basket.</p>
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        {% if basket_contents %}
            {% for item in basket_contents %}
                <div id="id{{ item.pk }}" class="border col-lg-3 col-md-4 col-xl-2 d-inline p-1 m-1">
                    <div class="align-top">
                        <a class="text-dark" href="/products/{{ item.pk }}">
                            <img class="m-2 w-75" src="{{ MEDIA_URL }}{{ item.product.image }}">
                            <p>{{ item.product.name }}</p>
                            <p>£ {{ item.product.price|floatformat:2}}</p>
                        </a>
                    </div>
                    <div class="align-bottom">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <button name="add" value="{{ item.pk }}" type="submit" class="w-75 border bg-white text-dark p-2 mb-1">Add to Basket</button>
                            <button name="remove" value="{{ item.pk }}" type="submit" class="w-75 bg-dark text-white p-2 mb-2">Remove</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Sorry you have no items within your basket, use the link below to look for an item on the site to buy.</p>
        {% endif %}
    </div>
    <br>
    <hr>
    <br>
    <div class="center-text">
        <div class="inline">
            <a href="{% url 'products' %}">
                <button class="w-75 bg-dark text-white mb-2 p-2">Keep Shopping</button>
            </a>
        </div>
        <div class="inline">
            {% if basket_contents %}
                <a href="{% url 'checkout' %}">
                    <button class="w-75 bg-white text-dark p-2">Checkout</button>
                </a>
            {% endif %}
        </div>
    </div>
    <br>
    <hr>
    <br>
{% endblock %}