<div class="row border-2 border p-1 justify-content-center h-100">
    <button class="inline border bg-white p-3 ml-1 mr-1" onclick="location.href='/'" >Home</button>
    <button class="inline border bg-white p-3 ml-1 mr-1" onclick="location.href='/products/?c=NES&q=&f='" >NES</button>
    <button class="inline border bg-white p-3 ml-1 mr-1" onclick="location.href='/products/?c=SNES&q=&f='" >SNES</button>
    <button class="inline border bg-white p-3 ml-1 mr-1" onclick="location.href='/products/?c=Nintendo+64&q=&f='" >Nintendo 64</button>
    <button class="inline border bg-white p-3 ml-1 mr-1" onclick="location.href='/products/?c=No+Specific+Console&q=All&f='" >All</button>
</div>