<div class="row m-2">
    <div class="col-8">
        <a class="text-dark text-decoration-none" href="{% url 'home' %}">
            <h1 class="d-inline">Retro Exchange</h1>
        </a>
    </div>
    <div class="col-4">
        <div class="d-flex justify-content-end w-100">
            {% if request.user.is_superuser %}
                <a href="{% url 'find_product' %}" class="bg-white col-2 text-decoration-none">
                    <img class="w-100" style="width:35px;" src="{{ MEDIA_URL }}search-icon.png" alt="Search">
                </a>
            {% endif %}
            {% if request.user.is_authenticated %}
                <a href="{% url 'profile' %}" class="bg-white col-2 text-decoration-none">
                    <img class="w-100" style="width:35px;" src="{{ MEDIA_URL }}profile-icon.png" alt="Profile">
                </a>
                <a href="{% url 'account_logout' %}" class="bg-white col-2 text-decoration-none">
                    <img class="w-100" style="height:35px;" src="{{ MEDIA_URL }}signout-icon.png" alt="Signout">
                </a>
            {% else %}
                <a href="{% url 'account_signup' %}" class="bg-white col-2 text-decoration-none">
                    <img class="w-100" src="{{ MEDIA_URL }}signup-icon.png" alt="Signup">
                </a>
                <a href="{% url 'account_login' %}" class="bg-white col-2 text-decoration-none">
                    <img class="w-100" src="{{ MEDIA_URL }}login-icon.png" alt="Login">
                </a>
            {% endif %}
        </div>
    </div>
</div>