{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    <link ref="shortcut icon" href="{{ MEDIA_URL }}r_e_logo.png"/>
    
    {% block corecss %}
        <link ref="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block corejs %}
        <!-- This is for the stripe checkout system -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    <title>Retro Exchange</title>
</head>
<body>
    <div class="top-bar">
        <div class="inline left">
            <a href="{% url 'home' %}">
                <img class="s-icon" src="{{ MEDIA_URL }}r_e_logo.png">
                <h1 class="logo-text inline s-hide">Retro Exchange</h1>
            </a>
        </div>
        <div class="inline right dropdown">
            <a class="border">Options</a>
            {% if request.user.is_authenticated %}
                <div class="dropdown-container">
                    {% if request.user.is_superuser %}
                        <a href="{% url 'find_product' %}" class="border">Find Products</a>
                    {% endif %}
                    <a href="{% url 'profile' %}" class="border">My Account</a>
                    <a href="{% url 'account_logout' %}" class="border">Logout</a>
                </div>
            {% else %}
                <div class="dropdown-container">
                    <a href="{% url 'account_signup' %}" class="border">Signup</a>
                    <a href="{% url 'account_login' %}" class="border">Login</a>
                </div>
            {% endif %}
        </div>
        <div class="center m-t-35">
            <form class="border fit-content" method="GET" action="{% url 'products' %}">
                <input class="search-bar" type="text" name="search" placeholder="Search Bar" >
                <button class="border search-button">
                    <span>Search</span>
                </button>
            </form>
        </div>
    </div>
    <div class="info-bar">
        <span class="white">All items on this website will be applied with a 10% increase in value for the shipping.</span>
    </div>
    <div class="nav-bar">
        <form class="center half-upper-border" method="GET" action="{% url 'products' %}">
            <input class="border large-text p-10 m-5" placeholder="Choose a console?" class="no-default filter" name="c" list="console"/>
            <datalist id="console">
                <option value="No Specific Console"/>
                <option value="Nintendo 64"/>
                <option value="NES"/>
                <option value="SNES"/>
            </datalist>
            <input class="border large-text p-10 m-5" placeholder="What to search for?" class="no-default filter" name="q" list="search-for"/>
            <datalist id="search-for">
                <option value="Consoles"/>
                <option value="Games"/>
                <option value="Accessories"/>
                <option value="Bundles"/>
                <option value="All"/>
            </datalist>
            <input class="border large-text p-10 m-5" placeholder="What filter to apply?" class="no-default filter" name="f" list="filter"/>
            <datalist id="filter">
                <option value="A-Z"/>
                <option value="Z-A"/>
                <option value="Ascending Price"/>
                <option value="Decending Price"/>
                <option value="Rating"/>
            </datalist>
            <button class="border p-5" type="submit">
                Submit
            </button>
        </form>
    </div>

    {% if messages %}
        <div>
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}

    <div class="main-content center-text">
        {% block page_header %}
        {% endblock %}
        <hr>
        {% block content %}
        {% endblock %}
    </div>

    <div class="half-bottom-border right bottom center-text w-180">
        <a href="{% url 'basket' %}">
            <br>
            <img class="m-icon" src="{{ MEDIA_URL }}basket.png">
            <br>
            {% if grand_total %}
                <span><b>£ {{ grand_total|floatformat:2 }}</b></span>
            {% else %}
                <span><b>£ 0.00</b></span>
            {% endif %}
        </a>
        <hr>
    </div>

    {% block postloadjs %}
        <script>
            $('.toast').toast('show');
        </script>
    {% endblock %}
</body>
</html>