html {
    overflow-x: hidden;
    user-select: none;
}
body {
    background: url('/media/background2.jpg') no-repeat center center fixed;
    background-size: cover;
    left: 0px;
    top: 0px;
    font-family: "Segoe UI", sans-serif;
}
button, a, input[type="text"], input, fieldset {
    text-decoration: none;
    border: none;
    outline: none;
    background: white;
    color: black;
}
fieldset {
    border-top: 1px solid grey;
}
fieldset input[type="text"] {
    padding: 10px 15px 10px 15px;
    margin: auto auto 5px auto;
    display: block;
    width: 60%;
    border: 1px solid grey;
    border-radius: 20px;
}
fieldset input[type="number"] {
    padding: 10px 15px 10px 15px;
    margin: auto auto 5px auto;
    display: block;
    width: 60%;
    border: 1px solid grey;
    border-radius: 20px;
}
fieldset input[type="url"] {
    padding: 10px 15px 10px 15px;
    margin: auto auto 5px auto;
    display: block;
    width: 60%;
    border: 1px solid grey;
    border-radius: 20px;
}
fieldset textarea {
    padding: 10px 15px 10px 15px;
    margin: auto auto 5px auto;
    display: block;
    width: 60%;
    border: 1px solid grey;
    border-radius: 20px;
}
fieldset input[type="email"] {
    padding: 10px 15px 10px 15px;
    margin: auto auto 5px auto;
    display: block;
    width: 60%;
    border: 1px solid grey;
    border-radius: 20px;
}
fieldset select {
    padding: 10px 15px 10px 15px;
    margin: auto auto 5px auto;
    display: block;
    width: 63%;
    border: 1px solid grey;
    border-radius: 20px;
}
.w-225 {
    width: 225px;
}
.top-bar {
    padding: 0px 5px 5px 5px;
    background-color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid grey;
}
.info-bar {
    padding: 5px 5px 5px 5px;
    background-color: black;
    position: absolute;
    top: 45px;
    left: 0px;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid grey;
}
.nav-bar {
    padding: 0px 5px 5px 5px;
    position: absolute;
    top: 77px;
    left: 0px;
    width: 100%;
    display: inline-block;
}
.m-auto {
    margin: auto;
}
.w-500 {
    width: 500px;
}
.block {
    display: inline-block;
}
.inline {
    display: inline;
}
.logo-text {
    letter-spacing: -3px;
    width: fit-content;
}
.main-content {
    margin: 0px 40px 0px 40px;
    padding: 120px 20px 20px 20px;
    background-color: white;
}
.center-text {
    text-align: center;
}
.border {
    border: 1px solid grey;
    padding: 2px 20px 2px 20px;
    border-radius: 20px;
}
.large-text {
    font-size: 16px;
    color: black;
}
.extra-large-text {
    font-size: 22px;
    color: black;
}
.small-text {
    font-size: 14px;
    margin: 5px 0px 0px 0px;
    color: black;
}
.half-upper-border {
    background-color: white;
    border: 1px solid grey;
    border-top: none;
    padding: 2px 20px 2px 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.half-bottom-border {
    background-color: white;
    border: 1px solid grey;
    border-bottom: none;
    padding: 2px 20px 2px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.p-b-135 {
    padding-bottom: 135px;
}
.w-180 {
    width: 180px;
}
.h-125 {
    height: 125px;
}
.w-350 {
    width: 400px;
}
.scroll-enabled {
    overflow-y: scroll;
}
.center {
    margin: auto;
    width: fit-content;
}
.m-t-35 {
    margin-top: -35px;
}
.m-l-5 {
    margin-left: 5px;
}
.right {
    position: absolute;
    margin-top: 10px;
    right: 30px;
}
.search-button {
    margin: 2px -15px 2px 2px;
}
.themed-button {
    color: white;
    background-color: black;
    font-size: 22px;
    border-radius: 20px;
    padding: 10px;
}
.w-100 {
    width: 100px;
}
.w-250 {
    width: 250px;
}
.h-200 {
    height: 200px;
}
.h-60 {
    height: 60px;
}
.p-5 {
    padding: 5px;
}
.p-10 {
    padding: 10px;
}
.p-20 {
    padding: 20px;
}
.m-5 {
    margin: 5px;
}
.m-10 {
    margin: 10px;
}
.dropdown {
    z-index: 3;
    width: 100px;
}
.dropdown-container {
    width: 100%;
    display: none;
    margin-top: 8px;
    text-align: center;
}
.dropdown-container a {
    border-radius: 20px;
    display: block;
    margin-bottom: 4px;
    border: 1px solid grey;
}
.dropdown:hover .dropdown-container {
    display: block;
}
.bottom {
    position: fixed;
    bottom: 0px;
}
.search-form {
    width: 500px;
}
.search-bar {
    width: 30vw;
}
.fit-content {
    width: fit-content;
}
.icon {
    margin-top: 5px;
    width: 150px;
    height: 100px;
}
.green {
    color: green;
}
.orange {
    color: orange;
}
.red {
    color: red;
}
.m-b-10 {
    margin-bottom: 10px;
}
.s-icon {
    height: 25px;
    width: 50px;
}
.m-icon {
    height: 50px;
    width: 100px;
}
.theme {
    color: white;
    background-color: black;
}
.white {
    color: white;
}