{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <h2><b>EDIT PRODUCT</b></h2>
    <p>Here you can add a product to the database.</p>
{% endblock %}

{% block content%}
    <div class="border m-2 p-2">
        <div>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <p>Add details below about the new product you'd like tod add.</p>
                <fieldset>
                    {{ form }}
                </fieldset>
                <label for="delete">Delete Product:<br><span class="red">To delete this product, please say "DELETE" in the input field below</span></label>
                <br>
                <input class="text-red border w-50 m-2 p-2" type="input" id="delete" name="delete"></input>
                <button id="submit" type="submit" class="m-2 p-2 w-75 bg-dark text-white">Update Product</button>
                <br><br>
            </form>
        </div>
    </div>
<br>
<hr>
<br>
{% endblock %}