{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <h2><b>EDIT PRODUCT</b></h2>
    <p>Here you can add a product to the database.</p>
{% endblock %}

{% block content%}
    <div class="border m-10 p-10">
        <div class="center-text">
            <form class="center-text" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <p>Add details below about the new product you'd like tod add.</p>
                <fieldset>
                    {{ form }}
                </fieldset>
                <label for="delete">Delete Product:<br><span class="red">To delete this product, please say "DELETE" in the input field below</span></label>
                <br>
                <input class="red border m-10 p-10 w-250 center-text" type="input" id="delete" name="delete"></input>
                <br>
                <button id="submit" type="submit" class="m-10 themed-button">Update Product</button>
            </form>
        </div>
    </div>
<br>
<hr>
<br>
{% endblock %}