{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <h2><b>FIND A PRODUCT</b></h2>
    <p>Here you can add a product to the database.</p>
{% endblock %}

{% block content%}
        <div class="border m-2 p-2">
            <div>
                <form method="GET" enctype="multipart/form-data">
                    <p>Select a product you would like to edit</p>
                    <input placeholder="What product would you like to edit?" class="m-2 p-2 w-75" name="select" list="products"/>
                    <datalist id="products">
                        <option value="New Product"></option>
                        {% for item in products %}
                            <option value="{{ item.name }}"></option>
                        {% endfor %}
                    </datalist>
                    <br>
                    <button id="submit" type="submit" class="inline w-75 bg-dark text-white mb-2 mt-2 p-2">Find Product</button>
                    <br>
                </form>
            </div>
        </div>
    <br>
    <hr>
    <br>
{% endblock %}