{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <h2><b>{{ products.name }}</b></h2>
{% endblock %}

{% block content%}
    <div>
        <div class="justify-content-center">
            <div>
                <img class="w-75" src="{{ MEDIA_URL }}{{ products.image }}">
            </div>
            <p class="h-75">{{ products.description }}</p>
            <div class="p-5">
                <p class="h4">£ {{ products.price }}</p>
                <form method="POST" action="">
                    {% csrf_token %}
                    <button name="add" value="{{ products.pk }}" type="submit" class="w-50 bg-dark text-light p-2">Add to Basket</button>
                </form>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <br>
{% endblock %}