{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <h2><b>ALL PRODUCTS</b></h2>
    <p>These are all the products that are listed below. You can search or filter the searches to try and narrow down your searchs for the products that you want to see.</p>
    {% if not search_q == None %}
        <p>For the search "{{ search_q }}", it returns {{ return_num}} search results.</p>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row justify-content-md-center">
        {% for product in products %}
            <div id="id{{ product.pk }}" class="border col-2 d-inline p-1 m-1">
                <div class="h-75">
                    <a class="text-dark" href="{{ product.pk }}">
                        <img class="m-2 w-75" src="{{ MEDIA_URL }}{{ product.image }}">
                        <p>{{ product.name }}</p>
                        <p>£ {{ product.price|floatformat:2 }}</p>
                    </a>
                </div>
                <div class="h-25">
                    <form class="h-25" method="POST" action="">
                        {% csrf_token %}
                        <button name="add" value="{{ product.pk }}" type="submit" class="w-75 p-2 border-0 bg-dark text-light mb-5">Add to Basket</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
    <br>
    <hr>
{% endblock %}