{% extends "base.html" %}
{% load static %}

{% block content %}
    <div>
        <div class="center-text">
            <h2><b>ALL PRODUCTS</b></h2>
            <p>These are all the products that are listed below. You can search or filter the searches to try and narrow down your searchs for the products that you want to see.</p>
            <hr>
        </div>
        <div class="m-5 p-5">
            {% for product in products %}
                <div id="id{{ product.pk }}" class="border m-5 p-10 block w-250 h-600">
                    <a href="{{ product.pk }}">
                        <img src="/media/{{ product.image }}">
                        <p class="name h-60">{{ product.name }}</p>
                        <p class="price">£ {{ product.price }}</p>
                    </a>
                    <form method="POST" action="">
                        {% csrf_token %}
                        <button name="add" value="{{ product.pk }}" type="submit" class="themed-button">Add to Basket</button>
                    </form>
                </div>
            {% endfor %}
        </div>
        <br>
        <hr>
    </div>
{% endblock %}