{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <h2><b>ALL PRODUCTS</b></h2>
    <p>These are all the products that are listed below. You can search or filter the searches to try and narrow down your searchs for the products that you want to see.</p>
    {% if not search_q == None %}
        <p>For the search "{{ search_q }}", it returns {{ return_num}} search results.</p>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row d-flex justify-content-center">
        {% for product in products %}
            <div id="id{{ product.pk }}" class="border col-lg-3 col-md-4 col-xl-3 col-7 d-inline p-1 m-1">
                <div>
                    <a class="text-dark text-decoration-none" href="{{ product.pk }}">
                        <img class="m-2 w-75" src="{{ MEDIA_URL }}{{ product.image }}" alt="{{ product.name }}">
                        <p>{{ product.name }}</p>
                        <p>£ {{ product.price|floatformat:2 }}</p>
                        <img style="width:25px;" src="{{ MEDIA_URL }}rating-icon.png" alt="Rating: ">
                        <span>{{ product.rating }}</span>
                    </a>
                </div>
                <div class="align-bottom mt-2">
                    <form method="POST" action="{% url 'products' %}">
                        {% csrf_token %}
                        <button name="add" value="{{ product.pk }}" type="submit" class="w-75 p-2 border-0 bg-dark text-light mb-5">Add to Basket</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
    <br>
    <hr>
{% endblock %}